@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60vh;
    text-align: center;
}
#info {
    margin-bottom: 20px;
    color: #666;
}
#title {
    margin-top: 20px;
    margin-bottom: 40px;
}
#sub-title {
    margin-top: -20px;
    margin-bottom: 40px;
}
#meta {
    display: inline-block;
    width: 640px;
    max-width: calc(100% - 40px);
}
#timestamp {
    color: #888;
    font-size: 10pt;
    text-align: left;
}
#timestamp p {
    margin: 0;
}
#reporters {
    list-style-type: none;
    text-align: right;
}
#reporters .mail {
    margin-left: 8px;
}
#content {
    display: inline-block;
    width: 640px;
    max-width: calc(100% - 40px);
    font-family: 'Nanum Myeongjo', serif;
    font-size: 11pt;
    text-align: justify;
    line-height: 1.6;
}
#content img {
    display: block;
    margin: 15px auto;
    max-width: 100%;
    height: auto;
}
