@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60vh;
    text-align: center;
}
