name: Test and deploy
on:
  push:
    branches:
      - master
jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install
      uses: actions/npm@59b64a598378f31e49cb76f27d6f3312b582f680
      with:
        args: install
    - name: Run testcases
      uses: actions/npm@59b64a598378f31e49cb76f27d6f3312b582f680
      with:
        args: test
    - name: Build and deploy
      uses: ./actions/deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
